{% extends "base.html" %}
{% block content %}

<style>
    .teknoland-title{
        font-family: 'Roboto', sans-serif; 
        font-size: 36px; 
        font-weight: bold; 
        color: #333; 
    }
</style>

<div class="container">
    <h1 class="teknoland-title text-center mt-5 mb-4"><b>TeknoLand</b></h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="max-width: 200px;">
                <div class="card-body">
                    <div class="username-box">
                        <h5 class="card-title">Nama Akun:</h5>
                        <p class="card-text h6">{{ name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table id="product_table"></table>
    {% if products %}
    <h2 class="mt-4">Daftar Produk</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Harga: Rp{{ product.price }}</p>
                    <p class="card-text">Stok: {{ product.amount }}</p>
                    <p class="card-text">{{ product.description }}</p>
                    <a href="{% url 'main:edit_product' product.pk %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'main:delete_product' product.pk %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Tidak ada item yang disimpan pada aplikasi ini.</p>
    {% endif %}
    <div class="text-center mt-4">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Tambah Produk Baru</button>
        <a href="{% url 'main:logout' %}" class="btn btn-danger">Logout</a>
    </div>
    <h5 class="mt-5">Sesi terakhir login: {{ last_login }}</h5>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Price:</label>
                        <input type="number" class="form-control" id="price" name="price"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>
<script>
    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }
    async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString = `<tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Price</th>
        </tr>`
        products.forEach((item) => {
            htmlString += `\n<tr>
            <td>${item.fields.name}</td>
            <td>${item.fields.amount}</td>
            <td>${item.fields.description}</td>
            <td>${item.fields.price}</td>
        </tr>` 
        })
        
        document.getElementById("product_table").innerHTML = htmlString
    }

    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)
        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = addProduct
</script>
{% endblock content %}